body {
    background-color: black;
    padding: 0;
    margin: 0;
  }
  
  @media (max-width: 639px) {
    .mobile {
        background-color: red;
        width: 100vw;
        height: 100vh;
        display: inline-block;
    }

    .tablet {
        background-color: rgb(130, 206, 130);
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .desktop {
        background-color: rgb(63, 58, 206);
        width: 100vw;
        height: 100vh;
        display: none;
    }
  }
  
  @media (min-width: 640px) {

    .mobile {
        background-color: red;
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .tablet {
        background-color: rgb(130, 206, 130);
        width: 100vw;
        height: 100vh;
        display: inline-block;
    }

    .desktop {
        background-color: rgb(63, 58, 206);
        width: 100vw;
        height: 100vh;
        display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .mobile {
        background-color: red;
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .tablet {
        background-color: rgb(130, 206, 130);
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .desktop {
        background-color: rgb(23, 17, 199);
        width: 100vw;
        height: 100vh;
        display: inline-block;
    }
  }